body {
   background-color: rgb(205, 205, 168);
   font-family:sans-serif;
}

h1 {
    color: brown;
    text-align: center;
}

p {
    color: rgb(5, 88, 56);
    padding: 10px;
}

ul {
    color: rgb(143, 23, 235);
}

ul li {
    color: rgb(255, 64, 0);
}

a {
    color: blue;
}

a:hover {
    text-decoration: none;
}

.styled-box {
    border: solid 2px;
    background-color: lightgrey;
    padding: 15px;
    text-align: center;
}